fastapi
uvicorn
sqlalchemy
pydantic
requests
beautifulsoup4
openai
pydub
langchain-openai
langchain-core
pyyaml
edge_tts
pytest
httpx
pytest-asyncio
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
python-multipart
bcrypt==4.0.1
alembic
tenacity
loguru